<html>
<head>
<title>Home screen</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/jquery.minicolors.js"></script>
<link rel="stylesheet" href="/css/jquery.minicolors.css"></link>
<style>
  body {
    font: 16px sans-serif;
    line-height: 1.8;
  }
  body > div {
    margin: 10px;
  }
  .light_display {
    margin: 10px;
    padding:20px
  }
</style>
</head>
<body>
  <ul>
	<li><a href="/">Home</a></li>
	<li><a href="/lights">Lights</a></li>
	<li><a href="/schemes">Schemes</a></li>
	<li><a href="/generator">Random Scheme Generator</a></li>
  </ul>

  <h1>Light controller</h1>

  <p>You can control some lights and stuff. Awesome.</p>

  <script>
    $(document).ready(function() {
    });
  </script>
</body>
</html>
