{{define "lights"}}
{{template "header"}}
<style>
</style>

  {{ if .Id }}
  <h1>Edit Scheme: {{ .Name}}</h1>
  {{ else }} 
  <h1>Light controls</h1>
  {{ end}}

  {{range .Lights}}
  <div class="light_display" id="div_{{.Id}}" style="background-color: {{.Hex}};">
	<label for="txt_{{.Id}}">{{.Name}}</label>
	<input type="text" id="txt_{{.Id}}" class="lightControl" value="{{.Hex}}"></input>
	<input type="hidden" id="txt_{{.Id}}_name" value="{{.Name}}" />
  </div>
  {{end}}


  <!-- Edit existing scheme: hide if we're NOT editing -->
  <!-- New Scheme creation: hide if we're editing -->
  {{ if .Id }}
  <div>
  {{ else }} 
  <div style="display: none;">
  {{ end}} 
	<form>
	  <div class="form-group">
		<label for="txtEditSchemeName">Scheme Name</label>
		<input type="text" id="txtEditSchemeName" class="form-control" value="{{.Name}}" />
	  </div>
	  <div>
		<button type="button" id="btnCancelEditScheme" class="btn btn-danger">
		  <span class="glyphicon glyphicon-remove"></span>
		  Cancel
		</button>
		<button type="button" id="btnSaveEdit" class="btn btn-success">
		  <span class="glyphicon glyphicon-floppy-disk"></span>
		  Save
		</button>
	  </div>
	</form>
  </div>

  <!-- New Scheme creation: hide if we're editing -->
  {{ if .Id }}
  <div style="display: none;">
  {{ else }} 
  <div>
  {{ end}}
	<button type="button" id="btnSaveScheme" class="btn btn-default btn-primary">
	  <span class="glyphicon glyphicon-plus"></span>
	  Save as New Scheme
	</button>
  </div>
  
  <div id="divSaveScheme" style="display:none">
	<h2>Create new Scheme</h2>
	<form>
	  <div class="form-group">
		<label for="txtSchemeName">Scheme Name</label>
		<input type="text" id="txtSchemeName" class="form-control" />
	  </div>
	  <div>
		<button type="button" id="btnCancelSaveScheme" class="btn btn-danger">
		  <span class="glyphicon glyphicon-remove"></span>
		  Cancel
		</button>
		<button type="button" id="btnSave" class="btn btn-success">
		  <span class="glyphicon glyphicon-floppy-disk"></span>
		  Save as new Scheme
		</button>
	  </div>
	</form>
  </div>

  <script>
    $(document).ready(function() {
	  $(".lightControl").minicolors({
        control: "brightness",
	    theme: "default",
	    inline: false,
	    changeOnValue: false,
	    change: function(hex, opacity) {
	      updateLight(this.id.substring(4), hex);
	    },
	    changeDelay: 10,
      });

	  $("#btnSaveScheme").click(function() {
	    $("#divSaveScheme").show();
	    $("#btnSaveScheme").hide();
	  });

	  $("#btnCancelSaveScheme").click(function() {
	    $("#divSaveScheme").hide();
	    $("#btnSaveScheme").show();
	  });

	  $("#btnSave").click(function() {
	    saveScheme();
	    $("#txtSchemeName").val("")
	    $("#divSaveScheme").hide();
	    $("#btnSaveScheme").show();
	  });

	  $("#btnSaveEdit").click(function() {
	    updateScheme();
	    window.location.href="/schemes"
	  });

	  $("#btnCancelEdit").click(function() {
	    window.location.href="/schemes"
	  });

    });

	var ws = new WebSocket("ws://" + window.location.host + "/socket");
	ws.onmessage = function(e) {
	  var colours = JSON.parse(e.data);
	  for (var i=0; i < colours.length; i++) {
	    var id = colours[i].Name;
		var hex = colours[i].Hex;

		$("#div_" + id).css("background-color", hex);
		$("#txt_" + id).val(hex);
	  }
	}

	function saveScheme() {
	  var name = $("#txtSchemeName").val();
	  var lights = getCurrentLights();
	  
	  var req = {
	    Request: {
	      Action: "saveScene",
          Arguments: {
		    Id: "",
	 	    Name: name,
 		    Lights: lights,
		  },
		},
	  };
	  var json = JSON.stringify(req);
	  ws.send(json);
	}

	function updateScheme() {
	  var id = "{{.Id}}";
	  var name = $("#txtEditSchemeName").val();
	  var lights = getCurrentLights();
	  
	  var req = {
	    Request: {
	      Action: "saveScene",
          Arguments: {
		    Id: id,
	 	    Name: name,
 		    Lights: lights,
		  },
		},
	  };
	  var json = JSON.stringify(req);
	  console.log(json);
	  ws.send(json);
	}

	function getCurrentLights() {
	  var lights = [];
	  for (var curId = 1; ;curId++) {
	    var lightControl = $("#txt_" + curId);
		if (lightControl == null || lightControl.val() == null) {
		  return lights;
		}
	    var lightName = $("#txt_" + curId + "_name").val();
		var light = {
		  Id: "" + curId,
		  Name: lightName,
		  Hex: lightControl.val()
		};
		lights.push(light)
	  }
	}

	function updateLight(id, hex) {
	  $("#div_" + id).css("background-color", hex)
	  var lightName = $("#txt_" + id + "_name").val();
	  var req = {
        Request: {
	      Action: "setLightColour",
		  Arguments: {
		    Id: "" + id,
		    Name: lightName,
		    Hex: hex
		  },
		},
	  };
	  var json = JSON.stringify(req);
	  ws.send(json);
    }

  </script>
{{template "footer"}}
{{end}}
