{{define "sceneIndex"}}
{{template "header"}}
<style>
  .scene_display {
    border: 1px solid #999;
    margin-bottom: 10px;
  }
  .highlight {
    border: 1px solid blue;
    background-color: #EEE;
    cursor: pointer;
  }
  #buttonRow {
    margin-bottom: 10px;
  }
  .editRow button {
    margin-left: 10px;
  }
</style>

<h1>Scenes</h1>

<div id="buttonRow" class="row">
  <button id="btnEdit" type="button" class="btn btn-primary">
	<span class="glyphicon glyphicon-cog" />
	Edit/Delete
  </button>
  <button id="btnCancelEdit" type="button" class="btn btn-default" style="display:none">
	<span class="glyphicon glyphicon-remove" />
	Cancel
  </button>
</div>

<form class="form-horizontal" role="form">
  {{range $index, $scene := .Scenes}}
  <div class="scene_display" id="{{.Id}}">
    <div class="form-group">
	  <label class="col-sm-2 control-label">Name</label>
	  <div class="col-sm-10">
		<p class="form-control-static">{{.Name}}</p>
	  </div>
	</div>
    <div class="form-group">
	  <label class="col-sm-2 control-label">Active Hold</label>
	  <div class="col-sm-4">
		<p class="form-control-static">{{.ActiveHold}}</p>
	  </div>
	  <label class="col-sm-2 control-label">Active Transition</label>
	  <div class="col-sm-4">
		<p class="form-control-static">{{.ActiveTransition}}</p>
	  </div>
	</div>
    <div class="form-group">
	  <label class="col-sm-2 control-label">Inactive Hold</label>
	  <div class="col-sm-4">
		<p class="form-control-static">{{.InactiveHold}}</p>
	  </div>
	  <label class="col-sm-2 control-label">Inactive Transition</label>
	  <div class="col-sm-4">
		<p class="form-control-static">{{.InactiveTransition}}</p>
	  </div>
	</div>
	<div class="form-group editRow" style="display:none">
	  <div class="col-sm-2">
		<button id="btnEdit_{{.Id}}" class="btn btn-success btn-block sceneEdit">
		  <span id="spnEdit_{{.Id}}" class="glyphicon glyphicon-cog sceneEdit" />
		  Edit
		</button>
	  </div>
	  <div class="col-sm-2">
		<button id="btnDelete_{{.Id}}" class="btn btn-danger btn-block sceneDelete">
		  <span id="spnDelete_{{.Id}}" class="glyphicon glyphicon-trash sceneDelete" />
		  Delete
		</button>
	  </div>
	  <div class="col-sm-6">
	  </div>
	</div>
  </div>
  {{end}}
</form>

<script>
  $(document).ready(function() {
    $(".scene_display").hover(
	  function() {
	    $(this).addClass("highlight");
	  },
	  function() {
	    $(this).removeClass("highlight");
	  }
    ).click(function() {
      var id = $(this).attr("id");
      startScene(id);
    });

    $("#btnEdit").click(function() {
      $("#btnEdit").hide();
      $("#btnCancelEdit").show();
      $(".editRow").show();
    });

    $("#btnCancelEdit").click(function() {
      $("#btnCancelEdit").hide();
      $("#btnEdit").show()
      $(".editRow").hide()
    });
  
    $(".sceneEdit").click(function(event) {
      event.stopPropagation();
      var id = this.id.substring(8);
      editScene(id);
      return false;
    });

    $(".sceneDelete").click(function() {
      event.stopPropagation();
      var id = this.id.substring(10);
      deleteScene(id)
      return false;
    });
  });

  var ws = new WebSocket("ws://" + window.location.host + "/socket");
  ws.onmessage = function(e) {
  }

  function startScene(id) {
	  var req = {
	    Request: {
	      Action: "setScene",
          Arguments: {
	 	    Id: id,
		  },
		},
	  };
	  var json = JSON.stringify(req);
	  ws.send(json);
  }

  function editScene(id) {
    window.location.href="/scenes/edit/" + id;
  }

  function deleteScene(id) {
    window.location.href="/scenes/delete/" + id;
  }

</script>
{{template "footer"}}
{{end}}
