{{define "schemeIndex"}}
{{template "header"}}
<style>
  .scheme_display {
    border: 1px solid whitesmoke;
    padding: 4px;
    margin-top: 20px;
  }
  .highlight {
    border: 1px solid blue;
    background-color: #EEE;
	cursor: pointer;
   }
  .colour_disp {
    height: 20px;
  }
  #buttonRow {
    margin-bottom: 10px;
  }
 </style>

   <h1>Schemes</h1>

   <div id="buttonRow" class="row">
	 <button id="btnEdit" type="button" class="btn btn-primary">
	   <span class="glyphicon glyphicon-cog" />
	   Edit/Delete
	 </button>
	 <button id="btnCancelEdit" type="button" class="btn btn-default" style="display:none">
	   <span class="glyphicon glyphicon-remove" />
	   Cancel
	 </button>
   </div>

   {{ range $index, $element := .}}
	 {{if modIsZero $index 3 0}}
	   <div class="row">
	 {{end}}
	 <div class="col-sm-4 scheme_display" id="div_{{.Id}}">
	   <div class="row">
		 <div class="col-sm-6">
		   {{.Name}}
		 </div>
		 <div class="col-sm-1 colour_disp" style="background-color: {{index .Lights 0}}">
		 </div>
		 <div class="col-sm-1 colour_disp" style="background-color: {{index .Lights 1}}">
		 </div>
		 <div class="col-sm-1 colour_disp" style="background-color: {{index .Lights 2}}">
		 </div>
	   </div>

	   <div class="row editRow" style="display:none">
		 <div class="col-sm-3">
		   <button id="btnEdit_{{.Id}}" class="btn btn-success btn-xs schemeEdit">
			 <span class="glyphicon glyphicon-cog" />
			 Edit
		   </button>
		 </div>
		 <div class="col-sm-3">
		   <button id="btnDelete_{{.Id}}" class="btn btn-danger btn-xs schemeDelete">
			 <span class="glyphicon glyphicon-trash" />
			 Delete
		   </button>
		 </div>
	   </div>

    </div>
    {{if modIsZero $index 3 2}}
      </div>
    {{end}}
  {{end}}

  <script>
    $(document).ready(function() {
      $(".scheme_display").hover(
	    function() {
	      $(this).addClass("highlight")
	    },
	    function() {
	      $(this).removeClass("highlight")
	    }
	  ).click(function() {
        var id = $(this).attr("id").substring(4);
        displayScheme(id)
      });

	  $("#btnEdit").click(function() {
	    $(".editRow").show();
	    $("#btnCancelEdit").show();
	    $(this).hide();
	  });

	  $("#btnCancelEdit").click(function() {
	    $(".editRow").hide();
	    $("#btnEdit").show();
	    $(this).hide();
	  });

	  $(".schemeEdit").click(function(event) {
	    event.stopPropagation();
        var id = $(this).attr("id").substring(8);
	    editScheme(id);
	  });

	  $(".schemeDelete").click(function(event) {
	    event.stopPropagation();
        var id = $(this).attr("id").substring(10);
	    deleteScheme(id);
	  });

    });

	var ws = new WebSocket("ws://" + window.location.host + "/socket");
	ws.onmessage = function(e) {
	  alert("received: " + e.data)
	  /*
	  var colours = JSON.parse(e.data);
	  for (var i=0; i < colours.length; i++) {
	    var id = colours[i].Name;
		var hex = colours[i].Hex;

		$("#div_" + id).css("background-color", hex);
		$("#txt_" + id).val(hex);
	  }
	  */
	}

    function displayScheme(id) {
	  var req = {
	    Request: {
	      Action: "setScheme",
          Arguments: {
	 	    Id: id,
		  },
		},
	  };
	  var json = JSON.stringify(req);
	  ws.send(json);
	}

	function editScheme(id) {
	  window.location.href="/schemes/edit/" + id;
	}

	function deleteScheme(id) {
	  window.location.href="/schemes/delete/" + id;
	}


  </script>
{{template "footer"}}
{{end}}
